/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;

	/* fixes potential theme css conflict */
	img {
	   max-width: inherit !important;
	}
}

#content {
	background-color: $light-grey;
}

#primary {
	padding: 60px 0;
}

#quicklink {
	padding: 60px 0;
	background-color: $secondary-color;

	.links {
		list-style: none;
		margin: 0;

		li {
			margin: 0;
			float: left;
			width: 16.666%;
			vertical-align: top;
			text-align: center;

			.icon {
				display: inline-block;
				width: 140px;
				height: 140px;
				margin-bottom: 20px;
				background-size: auto 78px;
				background-repeat: no-repeat;
				background-position: center;
				border: 2px solid white;
				border-radius: 50%;
			}

			h3, {
				display: block;
				font-size: 20px;
				color: white;
			}

			.outline {
				border: 2px solid white;
				color: white;
				padding: 7px 15px;
				text-transform: uppercase;
				display: inline-block;
			}
		}
	}
}

/*============================
=            HOME            =
============================*/

.home {

	#primary {
		text-align: center;
		background-color: $light-grey;
	}

	#banner {
		.blurb {
			
			.after {
			}
		}
	}

	#twitter {
		text-align: center;
		background-color: $light-grey;
		padding: 0 0 60px 0;

		h2 {
			margin-bottom: 30px;
			color: $primary-color;
		}

		.tweet {
			padding: 0 100px;
		}

		.slick-prev, 
		.slick-next {
			&:before {
				display: none;
			}

			width: 30px;
			height: 50px;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.slick-prev {
			background-image: url(assets/img/left-chevron.svg);
		}

		.slick-next {
			background-image: url(assets/img/right-chevron.svg);
		}
	}

	.menu-course-container {
		padding-bottom: 60px;
		border-bottom: 2px solid $primary-color;
	}

	#course-menu {
		display: inline-block;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0 10px;

			a {
				display: inline-block;
				padding: 10px 40px;
				text-transform: uppercase;
				background-color: $secondary-color;
				color: white;
				text-decoration: none;
			}

			&:last-of-type {

				a {
					background-color: $primary-color;
				}
			}
		}
	}
}

/*============================
=            PAGE            =
============================*/

.page {

	#primary {
		text-align: center;
	}

	.maincopy {
		border-bottom: 2px solid $primary-color;
		padding-bottom: 40px;
		margin-bottom: 60px;

		&.left {
			text-align: left;
		}
	}

	.sections {

		.element {
			text-align: left;

			.link {
				background: $primary-color;
				display: block;
				padding: 10px 15px;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;
				color: white;  
			}
		}
	}

	/*============================
	=            TEAM            =
	============================*/

	&.our-team {

		.sections {

			&.support-staff {
				background: $primary-color;
				padding: 60px 0; 
				color: white;
				margin-top: 60px;

				h1, h2, h3, h4, h5, p {
					color: white;
				}

				.maincopy {
					border-color: white;
				}
			}

			&.additional-support {
				padding: 60px 0; 

				.maincopy {
					border-color: $primary-color;
				}
			}
		}

		.element {

			h2 {
				font-size: 3.2rem;
				margin-bottom: 0
			}

			h3 {
				font-size: 1.6rem;
				color: $secondary-color;
				font-weight: 400;
			}
		}
	}

	/*===============================
	=            COURSES            =
	===============================*/

	&.our-courses {

		.element {

			.text {
				margin-top: 20px;

				h1, h2, h3 {
					font-size: 1.6em;
				}
			}
		}

	}

	/*=============================
	=            ENROL            =
	=============================*/

	&.enroll, &.new-studnet {

		.maincopy {
			border-bottom: 0;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}

		.gform_wrapper {
			background: white;
			padding: 40px;
			margin: 40px 0 0 0;

			.gf_page_steps {
				margin-bottom: 40px;
				padding-bottom: 20px;
			}

			ul.gfield_checkbox, ul.gfield_radio {
				margin: auto;
				padding: 0;

				li {
					margin: 0;
					line-height: 2;
				}
			}

			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
				font-size: inherit;
				font-family: inherit;
				padding: 7px 12px;
				letter-spacing: normal;
			}

			input[type='email'], input[type='number'], input[type='search'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select {
				min-height: 38px;
				padding: 7px 12px;
				background-color: #fff;
				border: 1px solid #cccccc;
				border-radius: 0px;
				box-shadow: none;
				box-sizing: border-box;
				height: auto;
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 7px 12px;
				background-color: #fff;
				border: 1px solid #cccccc;
				box-shadow: none;
				box-sizing: border-box;
				height: auto;
				background-image: url(assets/img/down-chevron.svg);
			}

			ul {

				li.gfield {
					margin-top: 0;
					padding-top: 0;
					margin-bottom: 40px;
				}
			}

			.top_label .gfield_label {
				display: -moz-inline-stack;
				display: inline-block;
				line-height: 1;
				clear: both;
				margin-bottom: 15px;
				border-bottom: 1px solid #eee;
				display: block;
				padding-bottom: 10px;
				text-transform: uppercase;
				font-family: "Zona Pro Semi Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 17px;
			}


			.gform_page_footer {
				margin: 20px 0 0 0;
				padding: 40px 0 0 0;
				width: 100%;
				border-top: 1px dotted black;

				input[type="submit"], input[type="reset"], input[type="button"] {
					display: inline-block;
					color: white;
					background-color: #784987;
					border-radius: 0px;
					border: none;

					&:hover {
						color: white;
					}

					&.gform_previous_button {
						
					}

					&.gform_next_button {

					}
				}
			}

			 &.gf_browser_chrome {
			 	
			 	.gfield_radio {
			 		
			 		li {

			 			input[type=radio] {
							margin-top: 0px;
						}
					}
				}
			}
		}

		.logmein {
			float: left;
			width: 48%;
			margin-right: 2%;
		}

		.new-stu {
			float: left;
			width: 48%;
		    background: $primary-color;
			padding: 30px;
			box-sizing: border-box;
			color: white;
			text-align: center;

			h1, h2, h3, a {
				color: white;
			}

			a {
				display: block;
				margin-top: 20px;
				background: white;
				color: black;
				text-decoration: none;
				font-weight: bolder;
				text-transform: uppercase;
				text-align: center;
				padding: 10px;
				line-height: 1;
			}
		}

	}
}

/*===============================
=            COURSES            =
===============================*/

.blog {

	.page-title {
		margin-bottom: 60px;
	}

	article {

		h2 {
			font-size: 1.6rem;
			margin: 20px 0;

			a {
				color: black;
				text-decoration: none;
			}
		}

		.more {
			text-transform: uppercase;
			color: black;
			text-decoration: none;
			font-weight: 700;
			margin-top: 15px;
			display: block;
		}
	}

	.posts-navigation {
		h2 {
			display: none;
		}

		.nav-previous {
			float: left;
		}
		.nav-next {
			float: right;

			a {
				background-color: $secondary-color;
			}
		}

		a {
			background-color: $primary-color;
			color: white;
			padding: 10px 24px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.single {

	.entry-header {
		text-align: center;
		margin-bottom: 40px;

		h1, h2 {
			margin-bottom: 0;
		}
	}

	.post-thumbnail {
		margin-bottom: 30px;
	}

	.post-navigation {
		h2 {
			display: none;
		}

		.nav-previous {
			float: left;
		}
		.nav-next {
			float: right;

			a {
				background-color: $secondary-color;
				content: "Next Story";
			}
		}

		a {
			content: "Previous Story";
			background-color: $primary-color;
			color: white;
			padding: 10px 24px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}