/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

#site-navigation {

	.menu-primary-container {
		display: none;

		ul {
			list-style: none;
			text-align: right;
			margin-bottom: 0;

			li {
				display: inline-block;
				margin-bottom: 0;

				a {
					text-decoration: none;
					color: white;
					font-family: $nav-font-family;
					padding: 10px 15px;
				}

				&:last-of-type {
					a {
						text-transform: uppercase;
						border: 1px solid white; 
					}
				}
			}

			.sub-menu {
				position: absolute;
				width: auto;
				z-index: 1;
				display: none;
				margin: 0;
				padding-top: 10px;
				text-align: left;

				li {
					display: block;

					a {
						display: block;
					}

					&:last-of-type {
						a {
							text-transform: capitalize;
							border: none; 
						}
					}
				}
			}
		}
	}

	.hamburger {
		padding: 0;
		border-radius: 0;
		height: inherit;
		position: absolute;
		right: 0;
		bottom: 30px;
		z-index: 99;

		.hamburger-box {
			display: block;
		}
	}

	@media (#{$bp-larger-than-desktophd}) {
		.menu-toggle {
			display: none;
		}

		.menu-primary-container {
			display: block;
		}
	}

	&.toggled {
		.hamburger {
			bottom: 36px;

			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				background-color: black;
			}
		}

		.menu-primary-container {
			position: fixed;
			top: 0;
			left: 0;
			display: table;
			width: 100vw;
			height: 100vh;
			background: rgba(255,255,255,0.9);

			#primary-menu {
				display: table-cell;
				width: 100%;
				height: 100%;
				vertical-align: middle;
				text-align: center;

				li {
				 	display: block;
					line-height: 3;

					a {
						color: black;
						border-color: black;
					}

					.sub-menu {
						position: relative;
						text-align: center;
						padding: 0;
						margin: 0;

						li {
							line-height: 1.5;

							a {
								color: $primary-color;
							}
						}
					}
				}
			}
		}
	}

}