@font-face {
  font-family: 'ZonaPro-Black';
  src: url('Zona Pro Black.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro Black.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro Black.svg#e06a1b5abe020541116679cfcedb5416') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ZonaPro-Bold';
  src: url('Zona Pro Bold.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro Bold.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro Bold.svg#9f382fee952eb88388ebc6cbb2f6f72b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ZonaPro-ExtraBold';
  src: url('Zona Pro ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro ExtraBold.svg#b1685b3bb7bf2cab29af6680c5962cb9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ZonaPro-Light';
  src: url('Zona Pro Light.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro Light.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro Light.svg#539f28dff6ab3b175f2fd677663c51c6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'ZonaPro-Regular';
  src: url('Zona Pro Regular.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro Regular.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro Regular.svg#8c780c05cfda48e645d9c1aae1f41b83') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ZonaPro-SemiBold';
  src: url('Zona Pro SemiBold.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro SemiBold.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro SemiBold.svg#162f7822120324b8c470efd092b0a3f1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ZonaPro-Thin';
  src: url('Zona Pro Thin.eot'); /* IE9 Compat Modes */
  src: url('Zona Pro Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Zona Pro Thin.woff') format('woff'), /* Modern Browsers */
       url('Zona Pro Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Zona Pro Thin.svg#7578feebbccce406800e568eece85043') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

